[Unit]
Description=supervisor
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/supervisor
ExecStart=/opt/supervisor/supervisor.mjs
EnvironmentFile=/opt/supervisor/.env

[Install]
WantedBy=multi-user.target
